:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  /* color: inherit; */
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "stratum2";
  /* font-weight: 400; */
  src: url("../public/Stratum2WebRegular.woff");
}

@layer utilities {
  .outline-custom {
    outline: #ef4444 solid 2px;
  }
}

.codex-editor {
  z-index: 0;
}

.ce-block__content,
.ce-toolbar__content {
  /* max-width: calc(100% - 120px) !important; */
  width: 100%;
  max-width: 1000px;
  padding: 0px 50px;
  font-size: 24px;
}
.cdx-block {
  max-width: 100% !important;
}

.codex-editor__redactor {
  padding-bottom: 38px !important;
}

.ce-block__content {
  padding-bottom: 38px !important;
}

.image-tool__caption {
  text-align: center;
  display: none;
}

.image-tool__image {
  display: flex;
  justify-content: center;
}

h1.ce-header {
  @apply font-sans text-3xl font-bold;
}
h2.ce-header {
  @apply font-sans text-2xl font-semibold;
}
h3.ce-header {
  @apply font-sans text-xl font-semibold;
}
h4.ce-header {
  @apply font-sans text-lg font-semibold;
}
h5.ce-header {
  @apply font-sans text-base font-semibold;
}
h6.ce-header {
  @apply text-base font-semibold;
}
